* { box-sizing: border-box; }


 p {
 	font-family: times;
 	color:  #990099;
 	text-align: justify;
 }

 h1 {
 	text-align: center;
 	font-size: 20px;
 	color: #330033;
 }
 h2 {
 	text-align: justify;
 	font-size: 18px;
 	color: #330033;
 }
 h3 {
 	text-align: justify;
 	font-size: 16px;
 	color: #330033;
 }
 .title {
 	position: absolute;
 	top: 0;
 	right: 0;
 	border: 1px solid black;
 	font-size: 12px;
 	color: white;
 }
 #section1, #section2, #section3 {
 	padding: 12px;
 }
 #section1 .content, #section2 .content, #section3 .content {
 	font-size: 12px;
 	background-color: #ffe6ff; 
 	position: relative;
 	border:1px solid black;
 	padding-top: 16px;
 }
#section1 .title {
	background-color:  #1a001a;
}
#section2 .title {
	background-color: #1a001a;
}
#section3 .title {
	background-color: #1a001a;
}

/* desktop  */
@media only screen and (min-width: 992px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 33%;
	} 
}

/*tablet*/
@media only screen and (min-width:768px) and (max-width: 991px) {
	#section1, #section2, #section3 {
		display: inline-block;
	} 

	#section1, #section2 {
		width: 49.7%;
	}

	#section3 {
		width: 100%;
	}

}

/*mobile*/
@media only screen and (max-width: 767px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 100%;
	} 

}